<div>
  <img class='left' src='/img/1.jpg' alt='Whole thing'/>
  <div class='left padded-left'>
    <h1>pepe</h1>
    <div>
      <strong>Origin:</strong>
      <span>Liberec</span>
    </div>
    <div>
      <strong>Past experience:</strong>
      <span>Building estate worker</span>
    </div>
    <div>
      <strong>Expectations for the future:</strong>
      <span>Conquer the world offront-end</span>
    </div>
    <div>
      <strong>What I liked and disliked on the block:</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat lobortis ullamcorper. Vivamus viverra et enim non feugiat. Donec elit nulla, pretium id convallis quis, pretium sed dolor. Aenean mauris risus, lobortis non sodales quis, semper accumsan odio. Nulla facilisi. Praesent commodo eros odio, nec malesuada libero faucibus eu. Morbi mattis nibh id est lobortis condimentum eu eu tellus.</p>
    </div>
  </div>
</div>
<div class='row'>
  <img src='/img/2.jpg'/>
  <img src='/img/3.jpg'/>
</div>
