<!DOCTYPE html>
<html lang="en">
<head>
<title>Whats up!</title>
</head>
<body>
  <div id="page">
      <div id="header">
        <ul id="navigation">
          <li><a href="index.html">home</a></li>
          <li class="selected"><a href="wossen.html">about me</a></li>
        </ul>
      </div>
      <div>
        <div>
					<h2>About me</h2>
					<h4>Love Graphics and Photography</h4>
					<p>
						Born in Eastern Africa, Ethiopia spend most of my short carrier as a
            CMS website designser and a creative director for various companies.
            love to travel and meet new people.
            As far as designing webistes I believe that I need to drop CMS like Joomla and Drupal
            and go over to the Dark side!! Static pages are nicer and seem to be more secure
            plus no more bulky and heavy modules and plugins slowing down websites!!
					</p>
      </div>
</body>
</html>
